<!-- https://angular.io/tutorial/tour-of-heroes/toh-pt2*/-->

<h2>My Heroes</h2>

<!-----------------------------------------------
|         LIST OF HEROES                        |
|         - Event binding                       |
|         - Class binding                       |
------------------------------------------------>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul><!-----------------------------------------------------
|         VIEW HERO DETAILS                           |
|         - Property binding to view other compoenent |
------------------------------------------------------>
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
